<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="1.0" package="com.jumio.JumioFormsApp">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
    <application android:label="JumioFormsApp.Android">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode, face"
            tools:replace="android:value"/>
        <activity
            android:name="com.jumio.nv.NetverifyActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Netverify" />
        <activity
            android:name="com.jumio.dv.DocumentVerificationActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.DocumentVerification" />
    </application>
</manifest>